<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="carA__link_0_JOINT_4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="carA__link_0_JOINT_5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
