<?xml version="1.0"?>

<launch>
    <arg name="node_start_delay" default="3.0" />
    <!-- laser merged -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
        <param name="destination_frame" value="/carA__base_footprint"/>
        <param name="cloud_destination_topic" value="/merged_cloud"/>
        <param name="scan_destination_topic" value="/scan_merged"/>
        <param name="laserscan_topics" value ="/front/scan /rear/scan"/> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
        
        <param name="angle_min" value="-3.141596"/>
        <param name="angle_max" value="3.141596"/>
        <param name="angle_increment" value="0.006283"/>
        <param name="scan_time" value="0.1"/>
        <param name="range_min" value="0.2"/>
        <param name="range_max" value="5.0"/>
    </node>


		
    <!-- ODOMETRY -->	
		<!--rf2o_laser_odometry-->
		<include file="$(find car_navigation)/launch/includes/rf2o.xml" />
 
		<!-- robot_localization(ekf) -->
		<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
			<rosparam command="load" file="$(find car_navigation)/params/ekf_params.yaml" />
		</node>
    <!-- /ODOMETRY -->

    <!-- STATIC TF setting -->
		<!-- done on Rpi-->
    	<!-- include file="$(find solabot_navigation)/launch/includes/tf.xml" / -->

</launch>
